:root {
  --background-color: #e7e7e7;
  --accent-color-primary: #7e1f86;
  --accent-color-secondary: #a14da0;
  --accent-color-tertiary: #9d79bc;
  --accent-color-quaternary: #8ca0d7;
  --accent-color-quinary: #91c4f2;
  --danger-color: #dd3344;
  --danger-color-hover: #bd1f2f;
  --danger-color-light: #ffe0e0;
}

* {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

html,
body,
main,
#app {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}

main {
  min-height: 100vh;
}

h2 {
  font-size: 1.5rem;
  color: var(--accent-color-quaternary);
}

.height-100-div {
  height: 100%;
}

a {
  text-decoration: none;
}

.mobile-container {
  padding: 2rem 1rem 1rem;
  max-width: 600px;
  margin: 0 auto;
}
