:root {
  --background-color: #e7e7e7;
  --accent-color-primary: #485696;
  --accent-color-secondary: #fc7a1e;
  --accent-color-tertiary: #f9c784;
}

* {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

html,
body,
main,
#app {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}

main {
  min-height: 100vh;
}

.height-100-div {
  height: 100%;
}

a {
  text-decoration: none;
}
