:root {
  --background-color: #e7e7e7;
  --accent-color-primary: #7E1F86;
  --accent-color-secondary: #A14DA0;
  --accent-color-tertiary: #9D79BC;
  --accent-color-quaternary: #8CA0D7;
  --accent-color-quinary: #91C4F2;
}

* {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

html,
body,
main,
#app {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
}

main {
  min-height: 100vh;
}

h2 {
  font-size: 1.5rem;
  color: var(--accent-color-quaternary);
}

.height-100-div {
  height: 100%;
}

a {
  text-decoration: none;
}

.mobile-container {
  padding: 2rem 1rem 1rem;
  max-width: 600px;
  margin: 0 auto;
}
